<nav>
  <div class="logo-container">
    <img src="./public/logo.jpg" alt="" />
  </div>
  <ul id="navLinks">
    <li>
      <a href="candidate_dashboard.html" class="nav-link">
        <i class="fas fa-chart-line"></i>
            Dashboard
        </a>
    </li>
    <li>
        <a href="admin_trainers.html" class="nav-link">
            <i class="fas fa-chalkboard-teacher"></i> 
            Trainers
        </a>
    </li>
    <li>
      <a href="student_courses.html" class="nav-link">
        <i class="fas fa-book"></i> Courses
      </a>
    </li>
    <li>
      <a href="admin_announcements.html" class="nav-link">
        <i class="fas fa-bullhorn"></i> 
        Announcements
      </a>
    </li>
    <li>
      <a href="login.html" class="logout-link">
        <i class="fas fa-sign-out-alt"></i> 
        Logout
      </a>
    </li>
  </ul>
</nav>
